﻿@using System.Configuration
@using System.Globalization
@model GoogleMapsTestweb.Models.MapDataModel
@{
    ViewBag.Title = "GOOGLE MAPS test";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>This page provides a google map containing multiple pins.</p>
        </div>
    </section>
}

<h3>Google Map:</h3>
<div id="map-canvas"></div>

@section scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@(ConfigurationManager.AppSettings.Get("GoogleMapsApiKey"))&sensor=false"></script>
    <script type="text/javascript">
        // map data as JSON object, is rendered by using the given model.
        var mapData = {
            mapCenter: { lat: @Model.MapCenter.Lat.ToString(CultureInfo.InvariantCulture), lon: @Model.MapCenter.Lon.ToString(CultureInfo.InvariantCulture) },
            pins: [
                @foreach (var pin in Model.Pins)
                {
                    @Html.Raw("{ lat: " + pin.Lat.ToString(CultureInfo.InvariantCulture) + ", lon: " + pin.Lon.ToString(CultureInfo.InvariantCulture) + ", title: '" + pin.Title + "', pinContent: '" + pin.HtmlContent + "' },\r\n")
                }
            ]
        };

        // info-window must be globally declared that there is no problem with multiple markers
        var globalInfoWindow = null;

        // markers array
        var addedMarkers = [];

        // the google map
        var map = null;

        function initMap() {
            /// <summary>Initializes the google map.</summary>

            // set the map options
            var mapOptions = {
                center: new google.maps.LatLng(mapData.mapCenter.lat, mapData.mapCenter.lon),
                zoom: 8
            };

            // init the global info window with placeholder content
            globalInfoWindow = new google.maps.InfoWindow({
                content: 'placeholder content'
            });

            // init the google map
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            
            // loop through each pin definition, create a marker and add the click event to show the info-window.
            for (var index = 0; index < mapData.pins.length; index++) {
                var pinData = mapData.pins[index];
                
                // define marker pin
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(pinData.lat, pinData.lon),
                    map: map,
                    title: pinData.title,
                    html: pinData.pinContent
                });

                addedMarkers.push(marker);

                // attach pin-click event and open infoWindow on click.
                google.maps.event.addListener(marker, 'click', function() {
                    
                    // this references to the currently clicked marker.
                    globalInfoWindow.setContent(this.html);
                    globalInfoWindow.open(map, this);
                });
            }

            autoCenterMap();
        }

        function autoCenterMap() {
            /// <summary>Centers the map for the added markers.</summary>

            //  Create a new viewpoint bound
            var bounds = new google.maps.LatLngBounds();
            //  Go through each...
            $.each(addedMarkers, function (index, marker) {
                bounds.extend(marker.position);
            });
            //  Fit these bounds to the map
            map.fitBounds(bounds);
        }

        // add the event-listener that the function 'initMap' will be executed at the load event.
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
}
